html,body {
    font-family:Raleway;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;

}

/* Body*/

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.flexBetween {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.flexCentreSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.flexBetweenSpace {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flexAroundSpace {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}
.decorationNone {
    text-decoration: None;
}
.colorBlue{
    color: #0065fc;
}
.colorGray {
    color: #f2f2f2;
}
.backGray {
    background-color:#f2f2f2;
}
.backBlue {
    background-color:#0065fc;
}

.bordureNone {
    border:none;
}
.textBold {
    font-weight: bold;
}
/*Header*/

h1 {
    font-size: 1.4em; 
    margin-bottom: 4px; 
}
header p {
    margin-top: 4px;
}
.colorLiens13 {
    color: #0065fc;
}

.colorLien2 {
    color: black;
}

.bordureNav {
    border-top: 1px solid #0065fc;
}

.marglogo {
    margin-bottom: 7px;
    margin-left: -9px;
}

.sizeLien1 {
    width: 130px;
    height: 90px;
}

.sizeLien2 {
    width: 130px;
    height: 90px;
}
.sizeLien3 {
    width: 130px;
    height: 90px;

}

.sizeLiens {
    width: 45%;
}
.sizeNav {
    height: 100px;
}
/*Section recherche et filtre */

.iconMap {
    width: 30px;
    height: 30px;
    padding:10px 10px;
    background-color: #f2f2f2;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    
}

.bordureSearch {
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.recherche{
    height: 50px;
    width: 240px;
    font-size: 16px;
    padding: 10px;
    border-radius: 1px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: transparent;
    color: black;
    font-weight:bold;
    
}


.buttonSearch {
    width: 130px;
    height: 50px;
    color:white;
    background-color: #0065fc;
    padding: 15px 15px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    margin: 0 -50px;
}

.bordureSearch .buttonSearch .fa-search {
    display: none;
}
/* Filtres*/

.titleFilter {
    margin-right: 20px;
}

.filter {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.IconTextFilter {
    width: auto;
    height: 50px;
    margin-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    font-weight: bold;
}


.IconTextFilter:hover {
    color: #f2f2f2;
    background-color: lightblue;
}
.IconFilter {
    padding: 15px 15px 15px 15px;
    margin-left:-3px;
    border-radius: 50%;
    color: #0065fc;
    background-color:#DEEBFF;
    cursor: pointer;
    height:20px;
    width: 20px;
    text-align: center;
    font-size: 20px;
}

.TextFilter {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

/*Information*/
.info {
    display: flex;
    align-items: center;
    margin-bottom: 15px
}

.InfoIcon {
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    color: #0065fc;
    border: 2px solid #d9d9d9;
    margin-right: 5px;
    padding: 3px;
}

.TextInfo {
    padding-left:  10px;
}



/*Section Hebergement et les plus populaires*/



.sizeLodging {
    flex:2;
    height: 700px;
    border-radius: 20px;
    margin-right: 20px;
}

.sizePopular {
    flex:1;
    height:700px;
    border-radius: 20px;
    margin-left: 20px;
}

.imgLodging1 {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;

}

.imgLodging2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;

}

.imgLodging3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;

}

.imgLodging4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;

}

.imgLodging5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgLodging6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;

}

.blockLodging {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-sizing: border-box;  
}
.block1 {
    margin-top: 25px;

}
.block2 {
    margin-top:30px;
}
.cubeLodging {
    width: 30%;
    height:200px;
    background-color:white;
    padding:1%;
    border-radius:20px;
}

.cubeLodgingDetails {
    width: 90%;
}
.StarLodging{
    font-size: 13px;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
}

.Prix {
    margin: 5px 10px;
    font-weight: 100;
    font-size: 16px;
}

.sousTitle{
    margin: 5px 10px;
    padding-top: 4px;
    font-size: 18px;
}


.afficherPlus {
    color: black;
    text-decoration:none;
    font-size: 1.3em;
    padding-left: 8px;
    display: block;
    margin-top: 60px;
  
}
.blockPopular{
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-top: 20px;
    box-sizing: border-box;
}
.blockPopular12 {
    margin-bottom: 20px;
}
.spaceTitle {
    margin-right : 20px;
}

.LogoChartLine{
    font-size: 14px;
}
.hotelPopular {
    width: 94%;
    background: white;
    border-radius: 20px;
    padding: 1% 0 1% 1%;
    box-sizing: border-box;
    margin: 0px 0px 25px 0px;
    height: auto;
    box-shadow: 0 5px 16px #0000002e;
}

.imgPopular {
    background-size: cover;
    background-position: center;
    width: 44%;
    height: 170px;
    border-radius: 15px 0 0 15px;
  }

.imgPopular3 {
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 170px;
    border-radius: 15px 0 0 15px;
  }
.cubePopularDetails {
    width: 60%;
    padding-left: 3%;
}
.starPopular {
    font-size: 14px;
    margin: 9px;

  }

.sousTitlePopular {
    font-size: 18px;
    margin-bottom: 2px;
  }
  
.PrixPopular {
    margin-top: 4px;
    margin-bottom: 28px;
  }
/*Activites*/
.Activities{
    margin-top: 50px;
    margin-bottom: 50px;
}

.BlocActivities{
    width: 100%;
    height: 520px;

}

.imgActivities1 {
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    border-radius: 15px 15px 0 0;
}

.cubeActivities {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.heightTitle {
    height: 70px;
}
.TitleActitivities {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

.imgActivities2 {
    background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.imgActivities3 {
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
}
.cubeActivities2356{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.BlocActivities2356 {
    width: 23%;
    height: 520px;

}

.imgActivities4 {
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    border-radius: 15px 15px 0 0;
}

.imgActivities5 {
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;
}

.imgActivities6 {
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0 0;
}

/* FOOTER*/
footer {
    background-color: #f2f2f2;
    margin:  0px -40px -40px -40px ;
}

.blockFooter {
    display: flex;
    justify-content: space-between;
}

.blockAboutFooter {
    margin-left:40px;   
}

.blockLodgingFooter {
    margin-left: -80px;
}

.blockAssistanceFooter {
    margin-right: 370px;
}

.listFooter {
    list-style-type: none;
    margin-left: -40px;
}
.linkFooter {
    text-decoration: none;
    color: black;
}

.spaceBetweenLink {
    margin-bottom: 12px;
}
/*responsive tablette */
@media screen and (max-width:1024px) {
    html,body {
        padding: 0;
    }

    .sizeLiens {
        margin-left: 35%;
    }

    h1 {
        font-size: medium;
    }

    .cubeLodgingDetails {
        min-height: 100px;
        width: 100%;
    }
    .cubeLodging {
        height: 230px;
        padding-bottom: 20px;
        box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%)
    }
    .sizeLodging {
        min-height: auto;
        padding: 15px;
    }
    .TitleTab {
        margin-left: 5px;
    }
    .spaceTitle {
        margin-right: 70px;
    }
    .hotelPopular {
        width: 88%;
    }

    .imgPopular {
        height: 200px;
    }
    .sizePopular {
        min-height: auto;
        
    }

    .afficherPlus {
        margin-top: 30px;
    }

    .Activities {
        margin-top: 0;
    }

    .BlocActivities {     
        height: auto;
    }

    .blockLodgingFooter {
        margin-left:150px;
    }

    .blockAssistanceFooter {
        margin-left: 120px;
    }
}

@media screen and (max-width:990px) {
    .filter {
        flex-direction: column;
        align-items: flex-start;
    }
    .IconTextFilter {
        margin-bottom: 20px;
    }

    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
    }

    .blockPopular {
        flex:none;
        width: 90%;
        margin-left: 0;
        height: auto;
    }

    .blockLodging {
        flex: none;
        width: 100%;
        margin-right: -20px;
        margin-top: 50px;
        margin-left: -20px;
    }
    
    .imgPopular3 {
        height: 190px;
    }

    .StarLodging {
        margin-top: 2px;
    }

}

@media screen and (max-width: 767px) {
    html,body {
       overflow-x:hidden;
       display: block;
       width: auto;
       margin: 0;
    }

    header {
        margin-top: 20px;
        width: 100%;
    }

    .sizeNav {
        height: 150px;
    }

    .marglogo {
        margin-left: 0;
    }

    .sizeLiens {
        margin-left: 80%;
    }

    .sizeLienMob {
        order: 1;
        position:relative;
        border-top:none; 
        bottom: -60px;
        left: -360px;
        display: flex;
        flex-basis: 100%; 
        font-size: 18px;
        padding: 0 50px;
        border-bottom: 3px solid #d9d9d9;
    }

    .sizeLien1 {
        height: 50px;   
        width: 70%;
        border-bottom: 3px solid #0065fc; 
    }

    .sizeLien2 {
        height: 50px;
        width: 50%;
    }
    .sizeLien3 {
        flex-direction: row;   
        margin-left: 30px; 
        position: absolute;
        width: 100%;
        display: contents;
    }


    .Title1mobile {
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 10px;

    }

    header p {
        margin-left: 10px;
    }

    .iconMap {
        border-radius: 15px 0 0 15px;
    }

    .TextInfo {
        padding-left:5px;
    }

    .bordureSearch {
        margin-left: 10px;
    }
    .buttonSearch {
        width: 50px;
        border-radius: 15px;
    }
    .buttonSearch span {
        display: none;
    }
    .bordureSearch .buttonSearch .fa-search {
        visibility: visible;
        display: block;
    }

    .recherche {
        width: 280px;
        border-right: transparent;
        font-size: 19px;
        border-radius: 0px;
    }

    .filter {
        margin-bottom: 0;
        margin-left: 10px;
    }

    .filter .filterFamilialMobile {
        position: absolute;
    }

    .filterFamilialMobile {
        margin-left:200px;
        margin-top: 70px;;
    } 

    .TextFilter {
        padding-left: 8px;
    }

    .info {
        margin-left: 10px;

    }
    .InfoIcon {
        height: auto;
        border: 1px solid #d9d9d9;
        margin-bottom:  25px;
    }
    .TitleTab {
        margin-left: 10px;
    }

    #hebergements {
        padding-left: 8px;
        width: 100%;
    }
    .TitleActivitiesMobile {
        margin-left: 15px;
    }

    .blockPopular {
        width: 100%;
        margin-left: -20px;
        padding: 20px 9px 20px 1px;
    }

    .sizePopular {
        border-radius: 0;
    }

    .spaceTitle {
        margin-right: 7px;
    }

    .hotelPopular {
        width: initial;
        height: auto;
        padding: 1.5% 0 1.5% 1.5%;
        margin: 0 0 15px 8px;
    }
    .imgPopular3 {
        height: 170px;
        width: 182px;
    }

    .imgPopular {
        height: 170px;
    }
    
    .PrixPopular {
        margin-bottom: 32px;
    }
    .cubePopularDetails {
        padding-left: 5%;
    }

    .blockLodging {
        margin-top: 20px;
        height: auto;
        background: none;
    }
    .block1Mobile {
        display: flex;
        flex-wrap: wrap;
    }

    .block2 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
    }

    .cubeLodging {
        width: 100%;
        height: 180px;
        margin-left: -10px;
        margin-bottom: 15px;
    }

    .cubeLodgingDetails {
        min-height: auto;
    }

    .sousTitle {
        padding-top: 0;
    }

    .afficherPlus {
        margin-left: -15px;
        margin-top: 25px;
    }

    .BlocActivities{
        flex-direction: column;
        
    }

    .cubeActivities {
        height: 250px;
        width: 90%;
        margin: 12px 0;
    }
    .cubeActivities2356 {
        margin: 12px 0;
    }
    .BlocActivities2356 {
        height: auto;
        width: 90%;
    }
    footer {
        background-color: #f2f2f2;
        margin:  0px ;
    }
    .blockFooter {
        display: flex;
        flex-direction: column;
    }

    .blockLodgingFooter {
        margin-left: 40px;
    }

    .blockAssistanceFooter {
        margin-left: 40px;
        margin-right: 0;
    }


}


